
/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(/image/blog/2.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(/image/blog/2.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }

  /* 全局宽度 */
.layout {
  max-width: 1400px;
}

/* 侧边卡片栏宽度 */
.aside-content {
  max-width: 318px;
  min-width: 300px;
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}

#article-container h1:before {
    content: "H₁";
}
#article-container h2:before {
    content: "H₂";
}
#article-container h3:before {
    content: "H₃";
}
#article-container h4:before {
    content: "H₄";
}
#article-container h5:before {
    content: "H₅";
}
#article-container h6:before {
    content: "H₆";
}
/* h2~6以此类推 */
